<div class="row-fluid">
<div class="span7 b-red">  
<%= simple_form_for(@contestant, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if @contestant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contestant.errors.count, "error") %> prohibited this contestant from being saved:</h2>

      <ul>
      <% @contestant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <label></label>

  </div>

  
    
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :city %>
    <%= f.input :country, priority: [ "United States" ] %>
    <%= f.input :state, collection: us_states %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :email_confirmation %>

    
    <%= f.input :gender, collection: ['Male', 'Female'] %>
    <%= f.input :age, collection: age_ranges %>
    
    <%= f.input :newsletter, inline_label: 'Sign up for my newsletter', label: false %> 
    <%= f.input :rules, inline_label: 'I have read & agree to the sweepstakes official rules', :hint => "<a href="">Click here to read the official rules</a>", label: false %>

    <div class="offset2" style="margin-bottom:20px;"><%= recaptcha_tags %></div>
    
  
    <%= f.submit  "Submit", :class => "btn offset2 btn-primary" %>

<% end %>
</div>
<div class="span5 b-red">
right side
</div>
</div>
