<%= simple_form_for(@contestant, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if @contestant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contestant.errors.count, "error") %> prohibited this contestant from being saved:</h2>

      <ul>
      <% @contestant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :city %>
    <%= f.input :country, priority: [ "United States" ] %>
    <%= f.input :state, collection: us_states %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :email_confirmation %>

    
    <%= f.input :gender, collection: ['Male', 'Female'] %>
    <%= f.input :age, collection: age_ranges %>
    
      <%#= f.input :newsletter, :as => :boolean, wrapper_html: {:class => "checkbox"}, :label => 'Hey' %>
     
      <%= f.input :newsletter, :as => :boolean, :item_wrapper_class => 'inline', :label => 'Inline checkboxes' %> 
     
    
      <label class="checkbox">
  <input type="checkbox" value="">
  Option one is this and that—be sure to include why it's great
</label>
    
      
   
  <label class="checkbox offset2">
    <%= f.input :rules, :as => :boolean, :class => "checkbox", :hint => "I have read & agree to the sweepstakes official rules" %>
  </label>


  
    <%= f.submit  "Submit", :class => "btn offset2 btn-primary" %>

<% end %>
